.header_container {
    background-image: url(../img/pattern.png);
    height: 200px;
    width: 1200px;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img-container img {
    width: calc(100 / 2 - 1rem);
}

.footer_img-container {
    flex-direction: column;
}

.footer_img-container > div {
    position: relative;
}