.header_container {
    background-image: url(../img/pattern.png);
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_img-container img {
    width: calc(100 / 2 - 1rem);
}